.promo_area {
    display: block;
    margin: 60px auto 120px;
    width: 1160px;
    height: 450px;
    padding: 0 15px;
}

/* @media (min-width: 992px){
    .promo_area {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .promo_area {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .promo_area {
        max-width: 540px;
    }
} */

.row {
    display: flex;
    justify-content: space-around;
}

.row::after {
    content: "";
    display: block;
}

.col {
    position: relative;
}

.col_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col_2 .single_promo {
    padding-bottom: 20px;
    position: relative;
}

.single_promo .single_promo_content {
    position: absolute;
    top: 35px;
    left: 30px;
}

.single_promo img {
    width: 100%;
    height: 100%;
}

.single_promo img::after {
    background: rgba(0,0,0,0.5);
}

.image_banner {
    margin: 0px 16px;
}

.single_promo_title {
    text-align: center;
    width: 68px;
    height: 38px;
    padding: 12px 10px 0 8px; 
    background: #33d286;
}

.single_promo_title h2 {
    text-align: center;
    font-size: 14px;
    color: white;
}

.single_promo_content h3 {
    color: white;
    margin-top: 30px;
    font-size: 15px;
    display: none;
}

.single_promo:hover {
    cursor: pointer;
    opacity: 0.6;
}

.single_promo:hover h3{
    display: block;
    animation: fadeInUp 0.5s 0s;
}
