
body{
  font-family: sans-serif;
}



.transaction_title_area {
    margin-top: 20px;
    padding: 50px 0;
    margin-bottom: 40px;
    background: linear-gradient(45deg, #43cea2 0%, #33d286 100%);
}

.transaction_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.transaction_page_area{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 60px ;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;    
    display: block;
}
.transaction_page_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 0 15px;
    /* justify-content: space-between;  */
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    /* justify-content: 10px;; */
}

.billing_details{
    
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
    text-transform: capitalize;
    
    /* margin: auto; */
}


.billing_title{
    margin-bottom: 20px;
}

h3 {
    display: block;
    /* font-size: 1.17em; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form_input{
    display: block;
    padding: 0;
    margin-left:0;
    font-family:  sans-serif;
}

.form-row{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
    line-height: 26px;
    min-height: 1px;
    /* margin-right: -5px; */
    /* margin-left: -5px; */
}
.single-row{
    display: block;
    /* padding-right: 3%; */
    width: 49%;
}


.form-group{
    width:100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 10px;
    /* display: flex;; */
}

.form-control{
    box-shadow: none;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.custom-radio p{
    padding-left: 10%;
    font-size: 15px;
    color:#888888;;
}
.custom-checkbox{
    margin-top: 10px;
    width: 10%;
    margin-left: 0;
    /* min-width: auto; */
}
.custom-control{
    padding-left: 0px;
    display: flex;
    /* position: relative; */
    /* display: block; */
    min-height: 1.5rem;
    width: 100%;
}

.custom-control-label{
    display: inline-block;
    width: 80%;
    cursor: default;
    font-size: 18px;
}

#customCheck1{
    width: 10%;
    margin-left:0px;
    padding: 0;
}

.your_order{
    
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
    /* text-transform: capitalize; */
}

.your_order_title{
    margin-bottom: 20px;
}



.table_of_order{
    display: blocks;
    width: 100%;
    overflow-x: auto;
    /* width: 100%; */
    /* max-width: 100%; */
    margin-bottom: 1rem;
    background-color: transparent;
}


.payment-method{
    margin-top:100px;
    padding: 30px;
    border: 1px solid #dee2e6;
    margin: 30px 0;
}



.button-place-order{
   width: 30%;
    /* background-color: green; */
    border: 1px solid #33d286;
    color: #fff;
    background: #33d286;
    border-radius: 0;
    padding: 8px 20px;
    text-transform: capitalize;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.5;

}


.button-place-order:hover {
    background-color: rgb(110, 15, 44);
    outline: none;
    border-radius: 0px;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}

ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}


/* .custom-radio{} */
#customRadio1.custom-control-input{
    width: 25px;
    margin-left:0 ;
    padding-left: 0;
    border: 0px;
    /* width: 100%; */
    height: 1em;
    /* border-width: 2em; */
}
#customRadio2.custom-control-input{
    width: 25px;
    margin-left:0 ;
    padding-left: 0;
    height: 1em;
}


table{
    display: table;
    border-collapse:collapse;
    /* box-sizing: border-box; */
    /* text-indent: initial; */
    border-spacing: 2px;
    border:solid 1px;
    /* border-color: rgb(194, 26, 26); */
    width: 100%;
    border-top-color: #ddd;;
    border-right-color:#ddd;;
    border-bottom-color: #ddd;;
    border-left-color: #ddd;; 
    border-spacing: 2px;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
    padding-left: 15px;
    border-color: #ddd;
    color: #888888;
    font-family: sans-serif;
}

tr {
    display: table-row;
    /* border:solid 1px; */
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
    line-height: 26px;
    min-height: 1px;
    border-color: #ddd;
}
td {
    display: table-cell;
    border:solid 1px;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
    line-height: 26px;
    min-height: 1px;
    padding-left: 15px;
    border-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
th{
    display: table-cell;
    border:solid 1px;
    border-top-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
    border-left-color: grey;
    line-height: 26px;
    min-height: 1px;
    padding-left: 15px;
    border-color: #ddd;
    height: 3em;
    text-align: left;
    font-size: 15px;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
    border-bottom:solid 2px grey;;
    border-color: #ddd;
}

tfoot{
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
    border-top:solid 2px grey;;
    border-color: #ddd;
}

textarea{
    overflow: auto;
    resize: vertical;
    
    /* font: 400 13.3333px Arial; */
    
}


input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], input[type="file"], textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 1px;
    outline: medium none;
    transition: all 0.2s ease 0s;
    padding: 15px 15px;
    min-width: 40px;
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    /* font-family; */
}

label{
    display: inline-block;
    margin-bottom: .5rem;
    color: #888;
    line-height: 1.6rem;
    font-size: 15px;
}


.col_left h2 {
    font-size: 26px;
    color: white;
}

.list_nav {
    display: flex;
    list-style: none;
}

.list_nav li,
.list_nav li a {
    color: #fff;
    text-transform: uppercase;
    padding-right: 20px;
    font-size: 14px;
}

.list_nav li a {
    text-decoration: none;
}


.contact_input {
    width: 48%;
}

.form_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_area {
    border: 1.5px solid #ddd;
    font-weight: 400;
    letter-spacing: 1px;
    min-width: 40px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.form_control {
    padding: 10px 110px 10px 15px;
}

.form_control_subject {
    padding: 10px 72% 10px 15px;
}

.form_control_message {
    padding-left: 15px;
    padding-top: 5px;
}

.btn {
    padding: 10px 20px;
    color: white;
    background: #33d286;
    border: 1px solid #33d286;
    font-size: 16px;
}

.contact_info {
    width: 48%;
}

.contact_info .subtitle {
    font-size: 16px;
    line-height: 1.4;
    color: #888888;
    margin-bottom: 25px;
}

.info_icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    text-align: center;
    border: 1.5px solid #33d286;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    margin-right: 30px;
}

.single_info {
    display: flex;
}

.single_info p {
    font-size: 16px;
    line-height: 1.6;
    color: #888888;
}

.info_icon .fa-phone,
.info_icon .fa-envelope,
.info_icon .fa-map-marker-alt {
    display: inline-block;
    font-size: 16px;
    color: #33d286;
}


.icon-success{
    width: 20%;
    text-align: right;
}
.icon-success img{
    image-resolution:unset;
    max-width: 30%;
    height: auto;
    background-color: white;
    padding-top: 15px;
}

.icon-404{
    width: 30%;
    text-align: right;
}
.icon-404 img{
    image-resolution:unset;
    max-width: 35%;
    height: auto;
    background-color: white;
    padding-top: 5px;
}


.success-message{
    width: 80%;
    text-align: left;
    padding-left: 10px;
    padding-top: 40px;
    height: auto;
    margin-bottom: 100px;
}


.success-message h2{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 60px;
    color: #33d286
}

.failed-message{
    width: 70%;
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
    height: auto;
    margin-bottom: 100px;
}


.failed-message h2{
    font-family: sans-serif;
    font-weight:500;
    font-size: 60px;
    color: #080808
}


.home-back{
    clear: both;
    width: 20%;
    height: 50px;

    /* height: auto; */
    margin-top: 200px;
    padding-top:15px;
    text-align: center;
    float: center;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #33d286;

    /* position: absolutes; */
}


.home-back a{
    text-decoration: none;
    color: #ffffff;
}
.home-back:hover {
    background-color: rgb(110, 15, 44);
    outline: none;
    border-radius: 0px;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}