body{
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
  }
  .transaction_title_area {
    margin-top: 20px;
    padding: 50px 0;
    margin-bottom: 40px;
    background: linear-gradient(45deg, #43cea2 0%, #33d286 100%);
}
.cart_page_area{
    width: 90%;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 60px ;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;  
    margin: auto;  
    display: block;
}
.cart_page_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 0 15px;
    /* justify-content: space-between;  */
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    /* justify-content: 10px;; */
}  

.cart_title{
    margin-bottom: 20px;
}
#board{
    width: 100%;
    height: auto;
    border: solid 2px #64626e;
    padding: 5%;
    background-color: #33d286;
    border-radius: 10px;
}

.a_product{
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 1%;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    /* border: solid 1.5px #64626e; */
    font-size: 20;
    background-color: aliceblue;
    /* border-radius: 10%; */
    border-left:1.5px solid #dee2e6;
    padding: 10px;
    
}
.product_infor{
    width: 50%;
    display: flex;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}
.product_img{
    min-width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* max-height: 70%; */
}
.product_detail{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product_price{
    width: 20%;
    border-left:1px solid #dee2e6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.price{
    margin-top: 15px;
}
.product_quantity{
    width: 20%;
    border-left:1px solid #dee2e6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15;
    
}

p{
    font-size: medium;
    margin-top: 15px;
}

.quantity{
    font-size: 15;
    margin-top: 15px;
    /* font: medium; */
}
.btn_delete{
    width: 20%;
    border-left:1px solid #dee2e6;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/* .product_img{
    width: 30px;
    height: 30px;
} */


.cart_continue{
    width: 100%;
    height: auto;
    margin-top: 5%;
    /* border: solid 1px #64626e; */
   
}

.continue_shopping{
    width: 15%;
    float: left;
    position: absolute;
    /* background-color: green; */
    border: 1px solid #33d286;
    color: #fff;
    background: #33d286;
    border-radius: 0;
    padding: 8px 20px;
    text-transform: capitalize;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1.25em;
    line-height: 1.5;
    /* border-radius: 15%; */
}
.continue_shopping:hover {
    background-color: rgb(110, 15, 44);
    outline: none;
    border-radius: 0px;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
}
